### 1.Explain with an example each when to use a for loop and a while loop

we use while loop when we have to iterate over a function through certain conditions or we don't know how much time we have to iterate.In while loop when our condition fails our loop stop working

In [1]:
n=input("Enter your name:- ")
num=int(input("Plz enter the number how much time you print your name:- "))
while num>0:
    print(n)
    num=num-1

Enter your name:- Anupam
Plz enter the number how much time you print your name:- 7
Anupam
Anupam
Anupam
Anupam
Anupam
Anupam
Anupam

we use for loop when we have to iterate over a range or we use for loop when we know the how much time we have to iterate over loop

In [2]:
for i in range(5):
    print("Saksham")

Saksham
Saksham
Saksham
Saksham
Saksham

### 2. way to print the sum and product of the first 10 natural number using for and while

### for loop

In [3]:
l=[1,2,3,4,5,6,7,8,9,10]
addition =0
product =1
for i in l:
    addition=addition+i
    product=product*i

print("The sum of the first 10 natural number is:" ,addition)
print("The sum of the first 10 natural number is:" ,product)

The sum of the first 10 natural number is: 55
The sum of the first 10 natural number is: 3628800

### While loop

In [4]:
addition=0
product=1
i=1
while i<=10:
    addition+=i
    product*=i
    i+=1
print("The sum of the first 10 natural number is:" ,addition)
print("The sum of the first 10 natural number is:" ,product)

The sum of the first 10 natural number is: 55
The sum of the first 10 natural number is: 3628800

### Q3 Way to compute electricity bill for a household.

In [5]:
unit=int(input("Enter your units of electricity consumed in a month:- "))
amount=0
if unit<=100:
    amount=unit*4.5
elif unit<=200:
    amount=100*4.5+(unit-100)*6
elif unit <=300:
    amount=100*4.5+100*6+(unit-200)*10
else:
    amount=100*4.5+100*6+100*10+(unit-300)*20

print("Your electricity bill is ", amount)

Enter your units of electricity consumed in a month:- 212
Your electricity bill is  1170.0

### 4. Create a list of number from 1 to 100 .use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

### by using for loop

In [6]:
l1 = []
for i in range(1, 101):
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        l1.append(i)

print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

###  With while loop

In [7]:
l1=[]
i=1
while i <=100:
    cube = i**3
    if cube % 4 == 0 or cube % 5 == 0:
        l1.append(i)
    i=i+1
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

### 5. Way  to filter a count vowels in the below-given string.
string="i want to become a data scientist"

In [8]:
string="I want to become a data scientist"
vowels=[]
for i in string:
    if i.lower() in ['a','e','i','o','u']:
        vowels.append(i)
print("Vowels in string are ", vowels)
print("Total vowels in a string are ", len(vowels))

Vowels in string are  ['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
Total vowels in a string are  12