### 1.Create a python program to sort the given list of tuples based on integer value using a lambda function

In [1]:
t=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
sort= sorted(t,key=lambda x:x[1],reverse=False)

In [3]:
sort

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

### 2.Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]

In [5]:
sqr=list(map(lambda l : l**2,l))

In [6]:
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 3. Write a python program to convert the given list of integers into a tuple of strings.use map and lambda function

In [7]:
s=[1,2,3,4,5,6,7,8,9,10]

In [8]:
t=tuple(map(lambda s:str(s),s))

In [9]:
t

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

###  Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [10]:
from functools import reduce
l=list(range(1,26))
reduce(lambda x,y:x*y,l)

15511210043330985984000000

### Q5.Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using thefilter function.[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [11]:
l=[2,3,6,9,27,60,90,120,55,46]

In [12]:
f=list(filter(lambda x:x%2==0 or x%3==0,l))

In [13]:
f

[2, 3, 6, 9, 27, 60, 90, 120, 46]

### Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.['python', 'php', 'aba', 'radar', 'level']

In [14]:
l=['python', 'php', 'aba', 'radar', 'level']

In [15]:
palindrome=list(filter(lambda l:l==l[::-1],l))

In [16]:
palindrome

['php', 'aba', 'radar', 'level']