Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans Database: A database is an organized collection of structured information or data stored and accessed electronically. It can be of different types, such as relational databases (SQL) or non-relational databases (NoSQL).

SQL Databases: SQL (Structured Query Language) databases are relational databases that store and manage data in tables with predefined schemas. They use SQL for querying and manipulating the data. Examples include MySQL, PostgreSQL, Oracle, and SQL Server.

NoSQL Databases: NoSQL databases are non-relational databases that do not require a fixed schema and are designed to handle unstructured and varied data types. They offer flexibility and scalability and come in various types such as document-oriented (MongoDB), key-value stores (Redis), column-oriented (Cassandra), and graph databases (Neo4j).

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Ans DDL (Data Definition Language): It's a subset of SQL used to define the structure of a database, such as creating, modifying, and deleting tables and other database objects.

CREATE: To create new database objects (e.g., tables, views, indexes). Example: CREATE TABLE customers (id INT PRIMARY KEY, name VARCHAR(255), email VARCHAR(255));

DROP: To delete database objects. Example: DROP TABLE customers;

ALTER: To modify the structure of existing database objects. Example: ALTER TABLE customers ADD COLUMN phone_number VARCHAR(20);

TRUNCATE: To quickly remove all data from a table without deleting the table itself. Example: TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans DML (Data Manipulation Language): It's a subset of SQL used to manipulate data within database tables, such as adding, modifying, and deleting records.

INSERT: To add new records to a table. Example: INSERT INTO customers (name, email) VALUES ('John Doe', 'johndoe@example.com');
UPDATE: To modify existing records in a table. Example: UPDATE customers SET email = 'johndoe@newdomain.com' WHERE id = 1;
DELETE: To remove records from a table. Example: DELETE FROM customers WHERE id = 4;

Q4. What is DQL? Explain SELECT with an example.

Ans DQL (Data Query Language): It's a subset of SQL used to retrieve data from a database. The primary DQL command is SELECT.

SELECT: To retrieve data from one or more tables. Example: SELECT name, email FROM customers;

Q5. Explain Primary Key and Foreign Key.

Ans Primary Key: A unique identifier for each record in a table. It ensures no two records have the same value for that column.
Foreign Key: A column in one table that references the primary key of another table, establishing relationships between tables.

Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.

Ans Code: 
import mysql.connector

# Connect to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the results
myresult = mycursor.fetchall()

# Print the results
for row in myresult:
  print(row)

# Close the cursor and database connection
mycursor.close()
mydb.close()


cursor(): Creates a cursor object, used to interact with the database and execute SQL queries.
execute(): Executes a SQL query against the database.

Q7. Give the order of execution of SQL clauses in an SQL query.

Ans 
1 FROM
2 WHERE
3 GROUP BY
4 HAVING
5 SELECT
6 ORDER BY